<div class="container">
    <div class="intro-section text-center">
        <h1>Sản phẩm đã đặt hàng</h1>
        <p>Xem thông tin sản phẩm đã đặt hàng</p>
    </div>

    <!-- Thông tin người nhận -->
    <div *ngIf="orderResponseList" class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Tên người đặt</th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Tổng giá</th>
                        <th scope="col">Ngày đặt</th>
                    </tr>
                </thead>
                <tbody *ngFor="let itemList of orderResponseList.slice().reverse()">
                    <tr *ngFor="let item of itemList.order_details">
                        <td>
                            {{ itemList.fullname }}
                        </td>
                        <td>
                            <div class="product-info">
                                <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                                <span class="product-name">{{ item.product.name }}</span>
                            </div>
                        </td>
                        <td>{{ item.numberOfProducts }}</td>
                        <td>{{ item.price | number:'1.2-2' }}</td>
                        <td>{{ item.totalMoney | number:'1.2-2' }}</td>
                        <td>{{ itemList.order_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>